:root {
    --primary-color: #1a1a1a;
}

.nav__bar,
#nav__buttons-mobile {
    background-color: var(--primary-color);
}

.nav__bar,
#nav__buttons-mobile,
.front,
.skills,
.projects,
.about {
    color: white;
}

body {
    background-color: var(--primary-color);
}