:root {
    --primary-color: #e9ebeef2;
    --secondary-color: #292727;
}

.nav__bar,
#nav__buttons-mobile {
    background-color: var(--primary-color);
}

.nav__bar,
#nav__buttons-mobile,
.front,
.skills,
.projects,
.about {
    color: var(--secondary-color);
}

.front__background {
    filter: brightness(0.8) contrast(1.14)!important;
    -webkit-filter: brightness(0.8) contrast(1.14)!important;
    -moz-filter: brightness(0.8) contrast(1.14)!important;
}

.project__single {
    border: 3px solid var(--secondary-color);
}