@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');


/*============= Global =============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: montserrat, sans-serif;
}

:root {
    --primary-color-dark: #282828f2;
    --primary-color-light: #fbf9f9f2;
}

body {
    width: 100%;
    height: 100%;
}

a {
    color: unset;
    text-decoration: none;
}

.show {
    display: flex!important;
}

/*============= Navigation Bar =============*/
.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 24px;
    -webkit-box-shadow: 0px 7px 22px -7px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 7px 22px -7px rgba(0,0,0,0.4);
    box-shadow: 0px 7px 22px -7px rgba(0,0,0,0.4);
}

.nav__menu-desktop,
.nav__menu-mobile {
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
    user-select: none;
}

.nav__menu-mobile {
    display: none;
}

.nav__theme {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.nav__btn {
    cursor: pointer;
}

#nav__buttons-mobile {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 140px;
    height: auto;
    text-align: right;
    top: 40px;
    right: -23px;
    padding: 10px;
}

body {
    height: 400vh;
}

@media screen and (max-width: 568px) {
    .nav__menu-desktop {
        display: none;
    }

    .nav__menu-mobile {
        display: flex;
    }
}